<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Trade | Pokemath' }) %>

<body>
    <%- include('partials/nav', { username }) %>

    <p class="sticky-text"><%= requestedPlayer %></p>

    <p class="error-message" style="margin: 2rem auto 0 auto; width: 300px; background-color: #ffa500; color: black; padding: .5rem; border: 3px solid black; display: none"></p>

    <img src="/images/icons/<%= recipientPokemon.id %>.avif" style="display:block; margin: 0 auto 4rem auto;"/>

    <img src="/icons/arrow-down-up.svg" style="display: block; margin: -1rem auto 2rem auto; width: 35px">

        <div class="flex-container">
        <% for (let p of pokemons) { %>
            <img class="pokemon-img" src="/images/icons/<%= p.id %>.avif" width="112" height="112" style="border: none; border-radius: 5px;" data-id="<%= p.ext_id %>">
        <% } %>
        </div>

            <button
                class="tradeBtn"
                id="submitOfferBtn"
                type="button"
                style="font-size: 1.1rem; width: 300px; margin: 4rem auto;"
            >
                submit offer
            </button>

    <script src="/js/make-offer.js"></script>
</body>
</html>
