<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Pokemath' }) %>

<body>
    <nav>
        <div id="logo">PokéMath</div>
        <div class="menu-container">
            <button><img src="/icons/menu.svg"></button>
            <div class="popover">
                <% if (username) { %>
                    <a href="/<%= username %>"><%= username %></a>
                <% } %>

                <a href="/players">players</a>

                <% if (username) { %>
                    <a href="/logout">logout</a>
                <% } %>
            </div>
        </div>
    </nav>

    <p class="sticky-text"><%= requestedPlayer %></p>

    <div class="flex-container">
        <% for (let p of pokemons) { %>
            <img src="/images/icons/<%= p.id %>.webp">
        <% } %>
    </div>
</body>
</html>
