<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Catch | Pokemath' }) %>

<body>
    <%- include('partials/nav', { username }) %>

    <p class="error-message" style="margin: 2rem auto; width: 300px; background-color: <%= /pokemon/.test(generalError) ? 'white' : '#ffa500' %>; color: black; padding: .5rem; border: 3px solid black; display: <%= generalError ? '' : 'none' %>"><%= generalError ? generalError : null %></p>

    <div class="question">
    <% if (qCode === 'b' || qCode === 'd' || qCode === 'e') { %>
        <p style="text-align: center; font-size: 1.1rem; margin-top: 5rem">
            <%= qParameters.question %>
        </p>
    <% } %>

    <% if (qCode === 'a' || qCode === 'a2') { %>
        <p style="text-align: center; font-size: 1.1rem">
            Fill in the blank.
        </p>

        <p style="margin: 4rem 0; text-align: center; font-size: 1.3rem"><%= qParameters.x %> + <%= qParameters.y %> = ___</p>
    <% } %>

    <% if (qCode === 'ar' || qCode === 'ar2') { %>
        <p style="text-align: center; font-size: 1.1rem">
            Fill in the blank.
        </p>

        <p style="margin: 4rem 0; text-align: center; font-size: 1.3rem"><%= `${qParameters.x} + `.repeat(qParameters.n).slice(0, -3) %> = ___</p>
    <% } %>

    <% if (qCode === 'c') { %>
        <p style="text-align: center; font-size: 1.1rem">
            How many dots are in the box?
        </p>
        <svg className="h-60 w-60 border border-black m-auto">
            <% for (let c of qParameters) { %>
                <circle r="10" cx=<%= c[0] %> cy=<%= c[1] %> fill="black" />
            <% } %>
        </svg>
    <% } %>

    <% if (qCode === 'm') { %>
        <p style="text-align: center; font-size: 1.1rem">
            Fill in the blank.
        </p>

        <p style="margin: 4rem 0; text-align: center; font-size: 1.3rem"><%= qParameters.x %> x <%= qParameters.y %> = ___</p>
    <% } %>
    </div>


    <form method="post" action="/catch">
        <input name="answer" tabindex="1" type="number" required>
        <button 
            tabindex="2"
            type="submit"
            style="font-size: 1.1rem"
        >
            submit
        </button>
    </form>
</body>
</html>
