<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Catch | Pokemath' }) %>

<body>
    <%- include('partials/nav', { username }) %>

    <p class="error-message" style="margin: 2rem auto; width: 300px; background-color: <%= /pokemon/.test(generalError) ? 'white' : '#ffa500' %>; color: black; padding: .5rem; border: 3px solid black; display: <%= generalError ? '' : 'none' %>"><%= generalError ? generalError : null %></p>

    <div class="question">

    <% if (qCode === 'l') { %>
        <p style="text-align: center; font-size: 1.1rem">
            Fill in the blank.
        </p>

<p style="margin: 4rem 0; text-align: center; font-size: 1.3rem"><%= qParameters.x %> + ___ = 10</p>
    <% } %>

    <% if (qCode === 'k') { %>
        <p style="text-align: center; font-size: 1.1rem; margin-top: 5rem">
            How many tens are there in <%= qParameters.x %>?
        </p>
    <% } %>

    <% if (qCode === 'j') { %>
        <p style="text-align: center; font-size: 1.1rem">
            Fill in the blank.
        </p>

<p style="margin: 4rem 0; text-align: center; font-size: 1.3rem"><%= qParameters.x %> - <%= qParameters.y %> = ___</p>
    <% } %>

    <% if (qCode === 'i') { %>
        <p style="text-align: center; font-size: 1.1rem">
            Fill in the blank.
        </p>

<p style="margin: 4rem 0; text-align: center; font-size: 1.3rem"><%= qParameters.addends %> = <%= qParameters.x %></p>
    <% } %>

    <% if (qCode === 'h') { %>
        <p style="text-align: center; font-size: 1.1rem">
            Fill in the blank.
        </p>

        <p style="margin: 4rem 0; text-align: center; font-size: 1.3rem"><%= qParameters.sequence %></p>
    <% } %>

    <% if (qCode === 'g') { %>
<%
const formatted = qParameters.x.toLocaleString('fr-FR');
const underlineIndex = String(qParameters.x).length -1 - qParameters.placeValue;
let digitIndex = 0;

const parts = formatted.split('').map(char => {
  if (char.codePointAt(0) === 8239) return ' ';

  const span = digitIndex === underlineIndex
    ? `<span style="text-decoration: underline;">${char}</span>`
    : char;

  digitIndex++;
  return span;
});
%>

        <p style="text-align: center; font-size: 1.1rem">
            Fill in the blank.
        </p>

        <ul style="list-style: none; margin-top: 3rem">
            <li style="margin-top: 1rem; text-align: center;">2<span style="text-decoration: underline;">4</span>8 --&gt; 250</li>
            <li style="margin-top: 1rem; text-align: center;"><span style="text-decoration: underline;">7</span>31 --&gt; 700</li>
            <li style="margin-top: 1rem; text-align: center;"><span style="text-decoration: underline;">1</span> 234 --&gt; 1000</li>
<li style="margin-top: 1rem; text-align: center;"><%- parts.join('') %> --&gt; ____</li>
        </ul>
    <% } %>

    <% if (qCode === 'f') { %>
        <p style="text-align: center; font-size: 1.1rem">
            Fill in the blank.
        </p>

        <ul style="list-style: none; margin-top: 3rem">
            <li style="margin-top: 1rem"><span style="font-weight: bold;">248</span> --&gt; &quot;two hundred forty eight&quot;</li>
            <li style="margin-top: 1rem"><span style="font-weight: bold">731</span> --&gt; &quot;seven hundred thirty one&quot;</li>
            <li style="margin-top: 1rem"><span style="font-weight: bold">1 234</span> --&gt; &quot;one thousand two hundred thirty four&quot;</li>
            <li style="margin-top: 1rem"><span style="font-weight: bold">_____</span> --&gt; &quot;<%= qParameters.numberInWords %>&quot;</li>
        </ul>
    <% } %>

    <% if (['b', 'd', 'e', 'n'].includes(qCode)) { %>
        <p style="text-align: center; font-size: 1.1rem; margin-top: 5rem">
            <%= qParameters.question %>
        </p>
    <% } %>

    <% if (qCode === 'a' || qCode === 'a2') { %>
        <p style="text-align: center; font-size: 1.1rem">
            Fill in the blank.
        </p>

        <p style="margin: 4rem 0; text-align: center; font-size: 1.3rem"><%= qParameters.x %> + <%= qParameters.y %> = ___</p>
    <% } %>

    <% if (qCode === 'ar' || qCode === 'ar2') { %>
        <p style="text-align: center; font-size: 1.1rem">
            Fill in the blank.
        </p>

        <p style="margin: 4rem 0; text-align: center; font-size: 1.3rem"><%= `${qParameters.x} + `.repeat(qParameters.n).slice(0, -3) %> = ___</p>
    <% } %>

    <% if (qCode === 'c') { %>
        <p style="text-align: center; font-size: 1.1rem">
            How many dots are in the box?
        </p>
        <svg className="h-60 w-60 border border-black m-auto">
            <% for (let c of qParameters) { %>
                <circle r="10" cx=<%= c[0] %> cy=<%= c[1] %> fill="black" />
            <% } %>
        </svg>
    <% } %>

    <% if (qCode === 'm') { %>
        <p style="text-align: center; font-size: 1.1rem">
            Fill in the blank.
        </p>

        <p style="margin: 4rem 0; text-align: center; font-size: 1.3rem"><%= qParameters.x %> x <%= qParameters.y %> = ___</p>
    <% } %>
    </div>


    <form method="post" action="/catch">
        <input name="answer" tabindex="1" type="number" autocomplete="off" required>
        <button 
            tabindex="2"
            type="submit"
            style="font-size: 1.1rem"
        >
            submit
        </button>
    </form>
</body>
</html>
