<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Trade | Pokemath' }) %>

<body>
    <%- include('partials/nav', { username }) %>

    <img src="/images/icons/<%= recipientPokemon.id %>.avif" style="display:block; margin: 0 auto 0 auto;"/>

    <div style="width: 400px; margin: 0 auto; text-align: center">
        <a href="/<%= recipientUsername %>" class="player" style="margin-bottom: 20px"><%= recipientUsername %></a>

    <div style="display: flex; align-items: center; gap: 10px; width: 120px; margin: 0 auto;">
        <img src="/icons/arrow-down-up.svg" style="display: block; width: 35px">

<% if (status === 'pending') { %>
  <span class="badge badge-warning">Pending</span>
<% } else if (status === 'accepted') { %>
  <span class="badge badge-primary">Accepted</span>
<% } else if (status === 'rejected') { %>
  <span class="badge badge-danger">Rejected</span>
<% } else if (status === 'cancelled') { %>
  <span class="badge badge-secondary">Cancelled</span>
<% } else if (status === 'completed') { %>
  <span class="badge badge-success">Completed</span>
<% } else { %>
  <span class="badge badge-light">Unknown</span>
<% } %>
    </div>

        <a href="/<%= initiatorUsername %>" class="player" style="margin-top: 20px; margin-bottom: 0"><%= initiatorUsername %></a>
    </div>

    <div class="flex-container">
        <% for (let p of pokemons) { %>
            <img class="pokemon-img" src="/images/icons/<%= p.id %>.avif" width="112" height="112" style="border: none; border-radius: 5px;" data-id="<%= p.ext_id %>">
        <% } %>
        </div>

    <form method="post" action="/trades/<%= tradeId %>">
        <% if (showCancelBtn) { %>
            <button
                class="tradeBtn"
                type="submit"
                name="action"
                value="cancel"
                style="font-size: 1.1rem; width: 300px; margin: 4rem auto;"
            >
                cancel
            </button>
        <% } %>

        <% if (showRecipientBtns) { %>
            <button
                class="tradeBtn"
                type="submit"
                name="action"
                value="accept"
                style="font-size: 1.1rem; width: 300px; margin: 4rem auto;"
            >
                accept
            </button>

            <button
                class="tradeBtn"
                type="submit"
                name="action"
                value="reject"
                style="font-size: 1.1rem; width: 300px; margin: 4rem auto;"
            >
                reject
            </button>
        <% } %>
    </form>
</body>
</html>
