<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: 'Catch | Pokemath' }) %>

<body>
    <%- include('../partials/nav', { username }) %>

    <p class="error-message" style="margin: 2rem auto; width: 300px; background-color: <%= /pokemon/.test(generalError) ? 'white' : '#ffa500' %>; color: black; padding: .5rem; border: 3px solid black; display: <%= generalError ? '' : 'none' %>"><%= generalError ? generalError : null %></p>

    <div class="question">
        <p style="text-align: center; font-size: 1.1rem">
            How many dots are in the box?
        </p>
        <svg className="h-60 w-60 border border-black m-auto">
            <% for (let c of qParameters) { %>
                <circle r="10" cx=<%= c[0] %> cy=<%= c[1] %> fill="black" />
            <% } %>
        </svg>
    </div>

    <form method="post" action="/catch">
        <input name="answer" tabindex="1" type="number" required>
        <button tabindex="2" type="submit">submit</button>
    </form>
</body>
</html>
